#
# Autotools related temporary files
#
**/.deps/
**/*.o
**/Makefile
**/Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/catpoo_controller
stamp-h1
